img {
  display: block;
  width: 100%;
  height: auto;
}

form {
  color: #d7d7d7;
  font-size: 24px;
}

form span {
  color: #be393b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #d7d7d7 !important;
}

textarea {
	resize: none;
}

h3 {
  text-align: center;
  margin: 6% 0 5%;
  color: 37414e;
}

.fullscreen {
  height: 100vh;
}

.logo {
  min-width: 150px;
  width: 20%;
  height: auto;
  margin: 3% 0;
}

.send {
  min-width: 100px;
  width: 15%;
  height: auto;
  margin: 4% auto 2%;
}

.custom-form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid #42454a;
  border-radius: .25rem;
  background-color: #262a2f;
  font-family: 'Roboto', sans-serif;
  color: #d7d7d7;
}

.custom-form-control:focus {
  background-color: #262a2f;
  border-color: #6e2f33;
  outline: none;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input div {
  margin: 0 5% 0 0;
}

.form-textarea div {
  margin-left: 5%;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}

.custom-btn {
  background-color: #be393b;
  color: #fff;
  font-weight: bold;
}

#comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  padding: 0 20px 100px 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
}

.comment-blue .comment__header {
  background-color:#4b596c;
}

.comment-blue .comment__body {
  background-color:#e9eef3;
  color: #6d737b;
}

.comment-green .comment__header {
  background-color:#58ad52;
}

.comment-green .comment__body {
  background-color:#deebde;
  color: #58ad52;
}

.comment__header {
  font-size: 24px;
  padding: 5px 0;
  color: #fff;
  justify-self: center;
}

.comment__body {
  padding: 30px 0 70px;
}

.comment__header, .comment__body-email {
  font-size: 24px;
}

.comment__body-email {
  font-weight: 500;
}

.comment__body-comment {
  font-size: 22px;
  padding: 0 15px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer-logo {
  min-width: 130px;
  width: 15%;
  height: auto;
}

.footer-net {
  display: flex;
  justify-content: flex-end;
  flex: auto;
}

.footer-net div {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

@media (max-width:375px) and (max-height:812px) {
  .form-btn {
    margin-top: 6%;
  }
  
  .logo {
    margin: 5% 0;
  }
  
  .send {
    margin: 8% auto 6%;
  }

  #comments {
    padding: 20px 0 40px;
  }

  .footer-net div {
    width: 30px;
    margin-right: 15px;
  }
}

@media (max-width:768px) {
  form, .comment__header, .comment__body-email {
    font-size: 20px;
  }

  .custom-form-control, .comment__body-comment {
    font-size: 18px;
  }
}

@media (max-width:992px) {
  .form-input div, .form-textarea div {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .logo {
    margin: 5% 0;
  }
  
  .send {
    margin: 8% auto 6%;
  }
}
